[Unit]
Description=openFFUcontrol remote bus interface service for ebmbus
After=network.target ssh.service

[Service]
Type=simple
ExecStart=/usr/bin/ebmbus-cmd
StandardOutput=null
StandardError=journal
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
